/*Body*/
body{
	background-size: cover;
	width:960px;
	margin:auto;
	text-align: center;
}

#homepage{
	background-image:url("tomato.jpeg");
}

#viewtable{
	background-image: url("food.jpeg");
	margin-left:-100px;
}

#res-page{
	background-image: url("blueberry.jpeg");
}

/*Headers*/
#welcome-header{
	font-family:"Pacifico", cursive;
	color:black;
	margin-top:180px;
	font-size: 40px;
}

#title-header{
	font-family: 'Fjalla One', sans-serif;
	color:white;
	font-size: 80px;
	margin-bottom: 50px;
}

#restitle-header{
	font-family: 'Fjalla One', sans-serif;
	color:white;
	font-size: 80px;
	margin-top:50px;
}

#res-waiting-header{
	font-family:"Pacifico", cursive;
	color:lightgrey;
	font-size: 22px;
	margin-bottom: 30px;
}

#form-container{
	width:400px;
	margin:auto;
	background-color:white;
	padding:30px;
	border:1px solid darkgrey;
	border-radius: 5px;
}

form{
	text-align: left;
	padding: 10px;
}

#make-res{
	font-family: 'Fjalla One', sans-serif;
	color:white;
	font-size: 60px;
	padding:20px;
}

h6{
	text-align: center;
	font-family: "Fjalla One", sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
}
